
    <h4>Bad Stuff</h4>
    <ul>
        <li class="listitem">Wet socks</li>
        <li class="listitem">Direct sunlight</li>
        <li class="listitem">No Cat</li>
        <li class="listitem">Bad hair days</li>
    </ul>
