<form action="/income/insert" method="POST" class="myform">
    <label for="amount">income_amount</label>
    <input type="number" placeholder="income_amount" name="amount">
    <label for="type">income_type</label>
    <input type="text" placeholder="income_type" name="type">
    <label for="date">income_date</label>
    <input type="date" placeholder="income_date" name="date">
    <button type="submit">Submit</button>
</form>