<div class="mysidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/budget/main">Budget</a></li>
        <li><a href="/userauth/main">Signup</a></li>
        <li><a href="/chatapp/main">Chat</a></li>
    </ul>
{{!-- {{> myform}}   --}}
</div>