<div class="mysidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/budget/main">Budget</a></li>
        <li><a href="">Link 3</a></li>
        <li><a href="">Link 4</a></li>
    </ul>
{{!-- {{> myform}}   --}}
</div>