

<div class="main">
<div>
    <ul id="chatmesages"></ul>
</div>
    <div>
        <form action="" method="POST" class="chatform">

            <input class="chatinput" />
            <button id="send">Send</button>
        </form>
    </div>
</div>
<script>

</script>