<form action="/errands" method="POST" class="myform">
<label for="errand_name">errand_name</label>
    <input type="text" placeholder="errand_name" name="errand_name">
    <label for="details">details</label>
    <input type="text" placeholder="details" name="details">
    <button type="submit">Submit</button>
</form>