<div>
    <h5>Update an entry</h5>
    <label for="update_name_input">Update Name:</label>
    <input type="text" id="update_name_input">
    <label for="update_details">Details:</label>
    <input type="text" id="update_details">
    <button id="update">Um, Actually.</button>
</div>
<div>
    <h5>Delete an entry</h5>
    <button id="delete">Bye bye.</button>
</div>
<script src="main.js"></script>