.main {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 248, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}