.main {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 248, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.errand-container {
    width: 700px;
    height: 500px;
    background-color: rgb(150, 185, 103);
}

.form-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.input-field {
    padding: 5px;
}

.input-field input{
    height: 2rem;
    width: 17rem;
    border: none;
}

.description-field {
    padding: 0px 10px;
}

.submit-button {
    position: relative;
}
.submit-button button{
    border: none;
    background-color: rgb(70, 107, 10);
    color: aliceblue;
    height: 2rem;
    /* padding: 10px; */
    position: absolute;
    width: 7rem;
    top: -10px;
}

.table-container {
    background-color: rgb(255, 237, 214);
    margin: 10px;
    border: 1px solid black;
}

.table-container table {
    width: 100%;
    padding: 10px;
    height: 300px;
}

thead, tbody { display: block; }

thead {
    padding: 10px;
}

tbody {
    height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody td, thead th {
    width: 25%;
}

th {
    text-align: left;
}

.row-faded {
    color: grey;
}
