* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 3rem;
    margin: 4px;
    padding: 4px;
    font-family: 'Tangerine', cursive;
    color: rgb(28, 51, 51);
}

li {
    font-size: 2rem;
    width: 700px;
    margin: 4px;
    padding: 4px;
    list-style: none
}

.listitem {
    color: rgb(47, 45, 56);
    background-color: rgb(253, 224, 238);
    font-family: 'Nanum Pen Script', cursive;
}

.listitem:last-of-type {
    color: orange;
}